body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card_normal {
    border: 1px solid #ccc;
    cursor: pointer;
    max-width: 200px;
    position: relative;
}

.card_normal:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 2px 2px 8px #aaa;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card_normal:hover:after {
  opacity: 1;
}

.card_readonly+:not(.card_selected):hover {
  box-shadow: none;
}

.card_readonly { 
  color: #555;
  cursor: default;
}

.card_readonly:hover:after, .card_selected:hover:after {
  opacity: 0;
}

.card_selected {
    box-shadow: 4px 4px 15px #aaa;
    border: 1px solid #999;
}

.step {
  font-size: 20px;
  color: #777;
}

.step_active {
  font-size: 20px;
  font-weight: bold;
  color: #f8407d;
  text-shadow: 1px 1px 3px rgb(236, 91, 91);
}

pre.output {
  min-height: 50px;
  padding: 4px 6px;
  color: #eee;
  background: #222;
  height: 100%;
  width: 100%;
  text-align: left;
  overflow-y: scroll;
}